/bigcache/
/bin/
/db_file.lck
/db_file.log
/db_file.properties
/db_file.script
/dulele.lck
/dulele.log
/dulele.properties
/dulele.script
/MyReader.console.20210308.log
/MyReader.console.20210311.log
/MyReader.console.20210312.log
